ACCOUNTS_PORT=ACCOUNTS_GRPC_PORT=ACCOUNTS_GRPC_HOST=ACHIEVEMENT_PORT=ACHIEVEMENT_GRPC_HOST=ACHIEVEMENT_GRPC_PORT=GATEWAY_PORT=WEATHER_API_KEY=WEATHER_API_URL=TRAVEL_CARDS_PORT=TRAVEL_CARDS_GRPC_HOST=TRAVEL_CARDS_GRPC_PORT=TYPEORM_TYPE=DB_HOST=DB_PORT=DB_USERNAME=DB_DATABASE=DB_PASSWORD=JOB_PROCESSOR_PORT=