version: '3.9'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "root_password"
      MYSQL_PASSWORD: "password"
    ports:
      - "54321:3306"
    volumes:
      - db_data:/var/lib/mysql
  redis:
    image: redis:7
    container_name: redis
    command: ["redis-server","--appendonly", "yes"]
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - redis-data:/data

  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    networks:
      - common
    ports:
      - "9092:9092"
    volumes:
      - kafka-data:/bitnami
    environment:
        KAFKA_BROKER_ID: 1
        KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
        KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
  kafka-ui:
    image: provectuslabs/kafka-ui
    ports:
      - "8080:8080"
    networks:
      - common
    environment:
      KAFKA_BROKERS: localhost:9092
      PUBLIC_API_ENDPOINT: http://localhost:8080
volumes:
  db_data:
  kafka-data:
  redis-data:

networks:
  common:
    driver: bridge
